###### Requirements without Version Specifiers ######`
websocket
websocket-client
requests
google-api-python-client
grpcio
glom
configparser
protobuf


###### Requirements with Version Specifiers ######`
